<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FaceYxc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>CameraServlet</display-name>
    <servlet-name>CameraServlet</servlet-name>
    <servlet-class>
        com.yxc.servlet.CameraServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CameraServlet</servlet-name>
    <url-pattern>/camera</url-pattern>
  </servlet-mapping>
   <servlet>
    <display-name>AgeServlet</display-name>
    <servlet-name>AgeServlet</servlet-name>
    <servlet-class>
        com.yxc.servlet.AgeServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgeServlet</servlet-name>
    <url-pattern>/age</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GenderServlet</display-name>
    <servlet-name>GenderServlet</servlet-name>
    <servlet-class>
        com.yxc.servlet.GenderServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenderServlet</servlet-name>
    <url-pattern>/gender</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GlassServlet</display-name>
    <servlet-name>GlassServlet</servlet-name>
    <servlet-class>
        com.yxc.servlet.GlassServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GlassServlet</servlet-name>
    <url-pattern>/glass</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>HbaseServlet</display-name>
    <servlet-name>HbaseServlet</servlet-name>
    <servlet-class>
        com.yxc.servlet.HbaseServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HbaseServlet</servlet-name>
    <url-pattern>/hbase</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PoseServlet</display-name>
    <servlet-name>PoseServlet</servlet-name>
    <servlet-class>
        com.yxc.servlet.PoseServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PoseServlet</servlet-name>
    <url-pattern>/pose</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PositionServlet</display-name>
    <servlet-name>PositionServlet</servlet-name>
    <servlet-class>
        com.yxc.servlet.PositionServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PositionServlet</servlet-name>
    <url-pattern>/position</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RaceServlet</display-name>
    <servlet-name>RaceServlet</servlet-name>
    <servlet-class>
        com.yxc.servlet.RaceServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RaceServlet</servlet-name>
    <url-pattern>/race</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SmilesServlet</display-name>
    <servlet-name>SmilesServlet</servlet-name>
    <servlet-class>
        com.yxc.servlet.SmilesServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmilesServlet</servlet-name>
    <url-pattern>/smile</url-pattern>
  </servlet-mapping>
</web-app>